<h1>My Life Advisor</h1>

<div class="eightball-container">
  <input type="text" id="question_input" placeholder="Type your yes or no question..." />

  <p id="answer_text">{{randomItem}}</p>

  <button id="generate_button">Tell me</button>
</div>