<h1>My Life Advisor</h1>

<div class="eightball-container">
  <p>Ask a yes or no question:</p>
  <input type="text" id="question_input" placeholder="Type your question here" />

  <p id="answer_text">{{randomItem}}</p>

  <button id="generate_button">Generate</button>
</div>