body {
  padding: 50px;
  font: 2em "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 3em;
}

button {
  background-color: white;
  color: purple;
  width: 10em;
  height: 3em;
  line-height: 2em;
  font-size: .75em;
  border-color: purple;
  border-radius: 5em;
  fill: purple;
  transition: all .3s;
  overflow: visible;
}

button > svg {
  width: 1.5em;
  height: 1.5em;
  vertical-align: sub;
}

button:hover{
  fill: white;
  color: white;
  background-color: purple;
}

button:hover svg{
  transform: translateX(1em);
}